
<div class='flex items-center justify-center min-h-screen bg-gradient-to-b from-gray-900 to-gray-600 overflow-x-hidden'>
  <div class='w-full max-w-full px-10 py-8 mx-auto bg-white rounded-lg shadow-xl'>
      <h1 class="mb-10 text-4xl font-bold text-center">DATA MODEL TESTING </h1>

      <details class="w-full mb-3 bg-white border-2 cursor-pointer border-black/60">
          <summary class="w-full bg-white font-bold text-dark flex justify-between px-4 py-3 tracking-wide after:content-['+']">User</summary>
<div class="">
<h2 class="mt-2 text-lg font-bold text-center">Input Fields</h2>
<hr class="h-px my-2 bg-gray-200 border-1.5">
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="flex flex-col pt-2 pl-4 mb-2 space-y-4" >


<label for="name" class="font-semibold tracking-wide">Name</label>
<input id="name" formControlName="Name" type="text" class="w-3/4 p-2 border-2 border-gray-400 rounded-lg outline-none">

<label for="email" class="font-semibold tracking-wide">Email</label>
<input id="email" formControlName="Email" type="email" class="w-3/4 p-2 border-2 border-gray-400 rounded-lg outline-none">

<label for="phone" class="font-semibold tracking-wide">Phone</label>
<input id="phone" formControlName="Phone" type="text" class="w-3/4 p-2 border-2 border-gray-400 rounded-lg outline-none">

<button type="submit" [disabled]="userForm.invalid" class="w-3/4 p-2 mt-8 ml-10 font-bold tracking-wider text-white rounded-full bg-neutral-700">Save</button>
</form>

</div>
      </details>
      <h3 class="text-xl text-red-700 font-bold">User Data View:</h3>
      <table class="mt-4 w-full mb-6">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-2 px-4">Name</th>
            <th class="py-2 px-4">Email</th>
            <th class="py-2 px-4">Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList" class="bg-gray-100">
            <td (click)="onSelectUser(user)" class="cursor-pointer py-2 px-4">{{ user.Name }}</td>
            <td (click)="onSelectUser(user)" class="cursor-pointer py-2 px-4">{{ user.Email }}</td>
            <td (click)="onSelectUser(user)" class="cursor-pointer py-2 px-4">{{ user.Phone }}</td>

          </tr>
        </tbody>
      </table>


      <details class="w-full mb-3 bg-white border-2 cursor-pointer border-black/60">
          <summary class="w-full bg-white font-bold text-dark flex justify-between px-4 py-3 tracking-wide  after:content-['+']">Producer</summary>
          <div class="">
              <h2 class="mt-2 text-lg font-bold text-center">Input Fields</h2>
              <hr class="h-px my-2 bg-gray-200 border-1.5">
              <!-- <form class="flex flex-col pt-2 pl-4 mb-2 space-y-4" > -->

<div class="pl-4">
              <label class="font-semibold tracking-wide">Type </label><br><br>
              <input [(ngModel)]="newProducer.TypeInput" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Name</label><br><br>
              <input [(ngModel)]="newProducer.Name" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Intro</label><br><br>
              <input [(ngModel)]="newProducer.Intro" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Shows List</label><br><br>
              <input [(ngModel)]="newProducer.ShowsListInput" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Thumbnail</label><br><br>
              <input [(ngModel)]="newProducer.Thumbnail" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Rating</label><br><br>
              <input [(ngModel)]="newProducer.Rating" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Weblink</label><br><br>
              <input [(ngModel)]="newProducer.Weblink" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Handle</label><br><br>
              <input [(ngModel)]="newProducer.Handle" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none">
            </div>

              <button (click)="createProducer()" class="w-3/4 mb-4 p-2 mt-8 ml-10 font-bold tracking-wider text-white rounded-full bg-neutral-700">Save</button>
              <!-- </form> -->

              </div>
      </details>
      <h3 class="text-xl text-red-700 font-bold">Producer Data View:</h3>
      <div class="overflow-x-scroll">
      <table class="bg-white min-w-full border border-gray-300 mt-4 mb-6">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-2 px-4 border-b text-center">Name</th>
            <th class="py-2 px-4 border-b text-center">Intro</th>
            <th class="py-2 px-4 border-b text-center">Thumbnail</th>
            <th class="py-2 px-4 border-b text-center">Rating</th>
            <th class="py-2 px-4 border-b text-center">Weblink</th>
            <th class="py-2 px-4 border-b text-center">Handle</th>
            <th class="py-2 px-4 border-b text-center">Type</th>
            <th class="py-2 px-4 border-b text-center">ShowsList</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producer of producers" class="bg-gray-100">
            <td class="py-2 px-4 border-b text-center">{{ producer.Name }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.Intro }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.Thumbnail }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.Rating }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.Weblink }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.Handle }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.Type.join(', ') }}</td>
            <td class="py-2 px-4 border-b text-center">{{ producer.ShowsList.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
  </div>
      <details class="w-full mb-3 bg-white border-2 cursor-pointer border-black/60">
          <summary class="w-full bg-white font-bold text-dark flex justify-between px-4 py-3 tracking-wide  after:content-['+']">Celebs</summary>
          <div class="">
            <h2 class="mt-2 text-lg font-bold text-center">Input Fields</h2>
            <hr class="h-px my-2 bg-gray-200 border-1.5">
            <!-- <form class="flex flex-col pt-2 pl-4 mb-2 space-y-4" > -->

<div class="pl-4">
            <label class="font-semibold tracking-wide">Type </label><br><br>
            <input [(ngModel)]="newCelebs.TypeInput" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Name</label><br><br>
            <input [(ngModel)]="newCelebs.Name" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Intro</label><br><br>
            <input [(ngModel)]="newCelebs.Intro" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Thumbnail</label><br><br>
            <input [(ngModel)]="newCelebs.Thumbnail" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Rating</label><br><br>
            <input [(ngModel)]="newCelebs.Rating" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Weblink</label><br><br>
            <input [(ngModel)]="newCelebs.Weblink" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Handle</label><br><br>
            <input [(ngModel)]="newCelebs.Handle" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none">
          </div>

            <button (click)="createCelebs()" class="w-3/4 p-2 mt-8 ml-10 mb-4 font-bold tracking-wider text-white rounded-full bg-neutral-700">Save</button>
            <!-- </form> -->

            </div>
      </details>
      <h3 class="text-xl text-red-700 font-bold">Celebs Data View:</h3>
      <div class="overflow-x-scroll">
      <table class="bg-white min-w-full border border-gray-300 mt-4 mb-6">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-2 px-4 border-b text-center">Name</th>
            <th class="py-2 px-4 border-b text-center">Intro</th>
            <th class="py-2 px-4 border-b text-center">Thumbnail</th>
            <th class="py-2 px-4 border-b text-center">Rating</th>
            <th class="py-2 px-4 border-b text-center">Weblink</th>
            <th class="py-2 px-4 border-b text-center">Handle</th>
            <th class="py-2 px-4 border-b text-center">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let celeb of celebs" class="bg-gray-100">
            <td class="py-2 px-4 border-b text-center">{{ celeb.Name }}</td>
            <td class="py-2 px-4 border-b text-center">{{ celeb.Intro }}</td>
            <td class="py-2 px-4 border-b text-center">{{ celeb.Thumbnail }}</td>
            <td class="py-2 px-4 border-b text-center">{{ celeb.Rating }}</td>
            <td class="py-2 px-4 border-b text-center">{{ celeb.Weblink }}</td>
            <td class="py-2 px-4 border-b text-center">{{ celeb.Handle }}</td>
            <td class="py-2 px-4 border-b text-center">{{ celeb.Type.join(', ') }}</td>
          </tr>
        </tbody>
      </table>
  </div>
      <details class="w-full mb-3 bg-white border-2 cursor-pointer border-black/60">
          <summary class="w-full bg-white font-bold text-dark flex justify-between px-4 py-3 tracking-wide after:content-['+']">Event</summary>
          <div class="">
            <h2 class="mt-2 text-lg font-bold text-center">Input Fields</h2>
            <hr class="h-px my-2 bg-gray-200 border-1.5">
            <!-- <form class="flex flex-col pt-2 pl-4 mb-2 space-y-4" > -->


<div class="pl-4">
              <label class="font-semibold tracking-wide">Name</label><br><br>
              <input [(ngModel)]="newEvent.Name" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Thumbnail</label><br><br>
              <input [(ngModel)]="newEvent.Thumbnail" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

              <label class="font-semibold tracking-wide">Trending </label><br><br>
              <input [(ngModel)]="newEvent.Trending" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none"><br><br>

            <label class="font-semibold tracking-wide">Rating</label><br><br>
            <input [(ngModel)]="newEvent.Date" type="text" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none">

          </div>

            <button (click)="createEvent()" class="w-3/4 p-2 mt-8 ml-10 mb-4 font-bold tracking-wider text-white rounded-full bg-neutral-700">Save</button>
            <!-- </form> -->

            </div>
      </details>

      <h3 class="text-xl text-red-700 font-bold">Event Data View:</h3>
      <div>
      <table class="bg-white min-w-full border border-gray-300 mt-4 mb-6">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-2 px-4 border-b text-center">Name</th>
            <th class="py-2 px-4 border-b text-center">Thumbnail</th>
            <th class="py-2 px-4 border-b text-center">Trending</th>
            <th class="py-2 px-4 border-b text-center">Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events" class="bg-gray-100">
            <td class="py-2 px-4 border-b text-center">{{ event.Name }}</td>
            <td class="py-2 px-4 border-b text-center">{{ event.Thumbnail }}</td>
            <td class="py-2 px-4 border-b text-center">{{ event.Trending }}</td>
            <td class="py-2 px-4 border-b text-center">{{ event.Date }}</td>
          </tr>
        </tbody>
      </table>
  </div>

      <details class="w-full mb-3 bg-white border-2 cursor-pointer border-black/60">
          <summary class="w-full bg-white text-dark flex justify-between px-4 py-3 after:content-['+'] tracking-wide font-bold ">Poll</summary>
          <form [formGroup]="pollForm" (ngSubmit)="onSubmitp()" class="mb-4">

            <div class="pl-4">
                <label for="Event" class="font-semibold tracking-wide">Event</label><br><br>
                <input type="text" id="Event" formControlName="Event" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" /><br><br>



                <label for="Producer" class="font-semibold tracking-wide">Producer</label><br><br>
                <input type="text" id="Producer" formControlName="Producer" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" /><br><br>


                <label for="Date" class="font-semibold tracking-wide">Date</label><br><br>
                <input type="text" id="Date" formControlName="Date" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" /><br><br>



                <label for="SurveyItem" class="font-semibold tracking-wide">Survey Item</label><br><br>
                <input type="text" id="SurveyItem" formControlName="SurveyItem" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" /><br><br>



                <label for="SurveyValue" class="font-semibold tracking-wide">Survey Value</label><br><br>
                <input type="text" id="SurveyValue" formControlName="SurveyValue" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" />

              </div>
            <button type="submit" class="w-3/4 p-2 mt-8 ml-10 mb-4 font-bold tracking-wider text-white rounded-full bg-neutral-700">Save</button>
          </form>
      </details>
      <h3 class="text-xl text-red-700 font-bold">Poll Data View:</h3>
      <div>
      <table class="min-w-full bg-white border border-gray-300 mt-4 mb-6">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-2 px-4 border-b text-left">Event</th>
            <th class="py-2 px-4 border-b text-left">Producer</th>
            <th class="py-2 px-4 border-b text-left">Date</th>
            <th class="py-2 px-4 border-b text-left">Survey Item</th>
            <th class="py-2 px-4 border-b text-left">Survey Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let poll of polls" class="bg-gray-100">
            <td class="py-2 px-4 border-b">{{ poll.Event }}</td>
            <td class="py-2 px-4 border-b">{{ poll.Producer }}</td>
            <td class="py-2 px-4 border-b">{{ poll.Date }}</td>
            <td class="py-2 px-4 border-b">{{ poll.SurveyDataList.Item }}</td>
            <td class="py-2 px-4 border-b">{{ poll.SurveyDataList.Value }}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <details class="w-full mb-3 bg-white border-2 cursor-pointer border-black/60">
          <summary class="w-full bg-white font-bold text-dark flex justify-between px-4 py-3 tracking-wide after:content-['+']">
        Content
          </summary>
          <div class="pl-4">
            <!-- General Content Properties -->
            <label class="font-semibold tracking-wide">Language:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Language" placeholder="Language" /><br><br>


            <label class="font-semibold tracking-wide">Producer:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Producer" placeholder="Producer" /><br><br>


            <label class="font-semibold tracking-wide">Show:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Show" placeholder="Show" /><br><br>


            <label class="font-semibold tracking-wide">Event:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Event" placeholder="Event" /><br><br>


            <label class="font-semibold tracking-wide">Category:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Category" placeholder="Category" /><br><br>


            <label class="font-semibold tracking-wide">Age Rating:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.AgeRating" placeholder="Age Rating" /><br><br>


            <label class="font-semibold tracking-wide">Season:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Season" placeholder="Season" /><br><br>


            <label class="font-semibold tracking-wide">Episode:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Episode" placeholder="Episode" /><br><br>


            <label class="font-semibold tracking-wide">Title:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Title" placeholder="Title" /><br><br>


            <label class="font-semibold tracking-wide">Intro:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Intro" placeholder="Intro" /><br><br>


            <label class="font-semibold tracking-wide">Featured:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" type="checkbox" [(ngModel)]="content.Featured" /><br><br>


            <label class="font-semibold tracking-wide">Thumbnail:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Thumbnail" placeholder="Thumbnail" /><br><br>


            <label class="font-semibold tracking-wide">Region:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Region" placeholder="Region" /><br><br>


            <label class="font-semibold tracking-wide">Poster:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Poster" placeholder="Poster" /><br><br>


            <label class="font-semibold tracking-wide">Weblink:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Weblink" placeholder="Weblink" /><br><br>


            <label class="font-semibold tracking-wide">Is Live:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" type="checkbox" [(ngModel)]="content.IsLive" /><br><br>


            <label class="font-semibold tracking-wide">Date Published:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.DatePublished" placeholder="Date Published" /><br><br>


            <label class="font-semibold tracking-wide">Authors List:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.AuthorsList" placeholder="Authors List" /><br><br>


            <label class="font-semibold tracking-wide">Archive Date:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.ArchiveDate" placeholder="Archive Date" /><br><br>


            <label class="font-semibold tracking-wide">Total Views:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.TotalViews" placeholder="Total Views" /><br><br>


            <label class="font-semibold tracking-wide">Keywords:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="content.Keywords" placeholder="Keywords" /><br><br>


            <!-- Celeb -->
            <label class="font-semibold tracking-wide">Celeb ID:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="celeb.Id" placeholder="Celeb ID" /><br><br>


            <label class="font-semibold tracking-wide">Celeb Name:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="celeb.Name" placeholder="Celeb Name" /><br><br>


            <label class="font-semibold tracking-wide">Celeb Content Intro:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="celeb.ContentIntro" placeholder="Celeb Content Intro" /><br><br>


            <label class="font-semibold tracking-wide">Celeb Current Rating:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="celeb.CurrentRating" placeholder="Celeb Current Rating" /><br><br>


            <label class="font-semibold tracking-wide">Celeb Thumbnail:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="celeb.Thumbnail" placeholder="Celeb Thumbnail" /><br><br>


            <label class="font-semibold tracking-wide">Celeb Total Clicks:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="celeb.TotalClicks" placeholder="Celeb Total Clicks" /><br><br>


            <!-- Survey -->
            <label class="font-semibold tracking-wide">Survey Title:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="survey.Title" placeholder="Survey Title" /><br><br>


            <label class="font-semibold tracking-wide">Survey Total Responses:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="survey.TotalResponses" placeholder="Survey Total Responses" /><br><br>


            <label class="font-semibold tracking-wide">Survey Choice Title:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="surveyChoice.Title" placeholder="Survey Choice Title" /><br><br>
<br><br>

            <label class="font-semibold tracking-wide">Survey Choice Description:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="surveyChoice.Description" placeholder="Survey Choice Description" /><br><br>


            <label class="font-semibold tracking-wide">Survey Choice Response Size:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="surveyChoice.ResponseSize" placeholder="Survey Choice Response Size" /><br><br>


            <!-- Player Entry -->
            <label class="font-semibold tracking-wide">Player Location:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="playerEntry.Location" placeholder="Player Location" /><br><br>


            <label class="font-semibold tracking-wide">Player ID:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="playerEntry.PlayerID" placeholder="Player ID" /><br><br>


            <label class="font-semibold tracking-wide">Player Clicks:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="playerEntry.Clicks" placeholder="Player Clicks" /><br><br>


            <!-- Hotspot -->
            <label class="font-semibold tracking-wide">Hotspot Location:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="hotspot.Location" placeholder="Hotspot Location" /><br><br>


            <label class="font-semibold tracking-wide">Hotspot Image URL:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="hotspot.ImageURL" placeholder="Hotspot Image URL" /><br><br>


            <label class="font-semibold tracking-wide">Hotspot Clicks:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="hotspot.Clicks" placeholder="Hotspot Clicks" /><br><br>


            <label class="font-semibold tracking-wide">Hotspot Tooltip:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="hotspot.Tooltip" placeholder="Hotspot Tooltip" /><br><br>

            <!-- Advertisement -->
            <label class="font-semibold tracking-wide">Advertisement Start Location:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="advertisement.StartLocation" placeholder="Advertisement Start Location" /><br><br>


            <label class="font-semibold tracking-wide">Advertisement End Location:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="advertisement.EndLocation" placeholder="Advertisement End Location" /><br><br>


            <label class="font-semibold tracking-wide">Advertisement Type:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="advertisement.Type" placeholder="Advertisement Type" /><br><br>


            <label class="font-semibold tracking-wide">Advertisement Total Skips:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="advertisement.TotalSkips" placeholder="Advertisement Total Skips" /><br><br>


            <!-- Overlay -->
            <label class="font-semibold tracking-wide">Overlay Location:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="overlay.Location" placeholder="Overlay Location" /><br><br>


            <label class="font-semibold tracking-wide">Overlay Type:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="overlay.Type" placeholder="Overlay Type" /><br><br>


            <label class="font-semibold tracking-wide">Overlay Title:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="overlay.Title" placeholder="Overlay Title" /><br><br>


            <!-- Overlay Choices (Assuming you want to display them) -->
            <label class="font-semibold tracking-wide">Overlay Choice Title:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="overlayChoice.Title" placeholder="Overlay Choice Title" /><br><br>


            <label class="font-semibold tracking-wide">Overlay Choice Total Responses:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="overlayChoice.TotalResponses" placeholder="Overlay Choice Total Responses" /><br><br>


            <label class="font-semibold tracking-wide">Overlay Pause Video:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" type="checkbox" [(ngModel)]="overlay.PauseVideo" /><br><br>

            <label class="font-semibold tracking-wide">Overlay Display Timeout:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" [(ngModel)]="overlay.DisplayTimeout" placeholder="Overlay Display Timeout" /><br><br>

            <label class="font-semibold tracking-wide">Overlay Optional:</label><br><br>
            <input class="w-3/4 p-3 border-2 border-gray-400 rounded-lg outline-none" type="checkbox" [(ngModel)]="overlay.Optional" />

            <!-- Add input fields for other content properties -->





















            <button (click)="submitContent()" class="w-3/4 p-2 mt-8 ml-10 mb-4 font-bold tracking-wider text-white rounded-full bg-neutral-700">Save</button>
          </div>
      </details>
      <div class="overflow-x-scroll">
      <table *ngIf="contentList && contentList.length > 0">
        <thead>
          <tr class="bg-gray-200">
            <th>ID</th>
            <th>Language</th>
            <th>Producer</th>
            <th>Show</th>
            <th>Event</th>
            <th>Category</th>
            <th>Age Rating</th>
            <th>Season</th>
            <th>Episode</th>
            <th>Title</th>
            <th>Intro</th>
            <th>Featured</th>
            <th>Thumbnail</th>
            <th>Region</th>
            <th>Poster</th>
            <th>Weblink</th>
            <th>Is Live</th>
            <th>Date Published</th>
            <th>Authors List</th>
            <th>Archive Date</th>
            <th>Total Views</th>
            <th>Keywords</th>
            <th>Celeb ID</th>
            <th>Celeb Name</th>
            <th>Celeb Content Intro</th>
            <th>Celeb Current Rating</th>
            <th>Celeb Thumbnail</th>
            <th>Celeb Total Clicks</th>
            <th>Survey Title</th>
            <th>Survey Total Responses</th>
            <th>Survey Choice Title</th>
            <th>Survey Choice Description</th>
            <th>Survey Choice Response Size</th>
            <th>Player Location</th>
            <th>Player ID</th>
            <th>Player Clicks</th>
            <th>Hotspot Location</th>
            <th>Hotspot Image URL</th>
            <th>Hotspot Clicks</th>
            <th>Hotspot Tooltip</th>
            <th>Advertisement Start Location</th>
            <th>Advertisement End Location</th>
            <th>Advertisement Type</th>
            <th>Advertisement Total Skips</th>
            <th>Overlay Location</th>
            <th>Overlay Type</th>
            <th>Overlay Title</th>
            <th>Overlay Choice Title</th>
            <th>Overlay Choice Total Responses</th>
            <th>Overlay Pause Video</th>
            <th>Overlay Display Timeout</th>
            <th>Overlay Optional</th>
            <!-- Add other header columns as needed -->
            <!-- Include columns for Celeb, Survey, PlayerEntry, Hotspot, Advertisement, Overlay properties as needed -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of contentList" class="bg-gray-100 border-2 border-black">
            <td>{{ item.Id }}</td>
            <td class="border-2 border-black">{{ item.Language }}</td>
            <td class="border-2 border-black">{{ item.Producer }}</td>
            <td class="border-2 border-black">{{ item.Show }}</td>
            <td class="border-2 border-black">{{ item.Event }}</td>
            <td class="border-2 border-black">{{ item.Category }}</td>
            <td class="border-2 border-black">{{ item.AgeRating }}</td>
            <td class="border-2 border-black">{{ item.Season }}</td>
            <td class="border-2 border-black">{{ item.Episode }}</td>
            <td class="border-2 border-black">{{ item.Title }}</td>
            <td class="border-2 border-black">{{ item.Intro }}</td>
            <td class="border-2 border-black">{{ item.Featured }}</td>
            <td class="border-2 border-black">{{ item.Thumbnail }}</td>
            <td class="border-2 border-black">{{ item.Region }}</td>
            <td class="border-2 border-black">{{ item.Poster }}</td>
            <td class="border-2 border-black">{{ item.Weblink }}</td>
            <td class="border-2 border-black">{{ item.IsLive }}</td>
            <td class="border-2 border-black">{{ item.DatePublished }}</td>
            <td class="border-2 border-black">{{ item.AuthorsList }}</td>
            <td class="border-2 border-black">{{ item.ArchiveDate }}</td>
            <td class="border-2 border-black">{{ item.TotalViews }}</td>
            <td class="border-2 border-black">{{ item.Keywords }}</td>



            <!-- New columns for Celeb properties -->
            <ng-container *ngIf="item.CelebList && item.CelebList.length > 0">
              <ng-container *ngFor="let celeb of item.CelebList">
                <td class="border-2 border-black">{{ celeb.Id }}</td>
                <td class="border-2 border-black">{{ celeb.Name }}</td>
                <td class="border-2 border-black">{{ celeb.ContentIntro }}</td>
                <td class="border-2 border-black">{{ celeb.CurrentRating }}</td>
                <td class="border-2 border-black">{{ celeb.Thumbnail }}</td>
                <td class="border-2 border-black">{{ celeb.TotalClicks }}</td>
              </ng-container>
            </ng-container>





            <!-- <ng-container *ngIf="item.Survey && item.Survey.length > 0">
              <ng-container *ngFor="let survey of item.Survey">
                <td class="border-2 border-black">{{ survey.Title }}</td>
                <td class="border-2 border-black">{{ survey.TotalResponses }}</td>


                <ng-container *ngIf="survey.ChoiceList && survey.ChoiceList.length > 0">
                  <ng-container *ngFor="let choice of survey.ChoiceList">
                    <td>{{ choice.Title }}</td>
                    <td>{{ choice.Description }}</td>
                    <td>{{ choice.ResponseSize }}</td>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
             -->




             <ng-container *ngIf="item.Survey && item.Survey.length > 0">
              <ng-container *ngFor="let survey of item.Survey">
                <td class="border-2 border-black">{{ survey.Title }}</td>
                <td class="border-2 border-black">{{ survey.TotalResponses }}</td>

                <!-- Iterate over ChoiceList property inside Survey -->
                <ng-container *ngIf="survey.ChoiceList && survey.ChoiceList.length > 0; else noChoiceList">
                  <ng-container *ngFor="let choice of survey.ChoiceList">
                    <td>{{ choice.Title}}</td>
                    <td>{{ choice.Description}}</td>
                    <td>{{ choice.ResponseSize}}</td>
                  </ng-container>
                </ng-container>
                <ng-template #noChoiceList>
                  <!-- Display "DNE" in the columns when ChoiceList is not available -->
                  <td>DNE</td>
                  <td>DNE</td>
                  <td>DNE</td>
                </ng-template>
              </ng-container>
            </ng-container>






            <ng-container *ngIf="item.PlayerEntryList && item.PlayerEntryList.length > 0">
              <ng-container *ngFor="let playerEntry of item.PlayerEntryList">
                <td class="border-2 border-black">{{ playerEntry.Location }}</td>
                <td class="border-2 border-black">{{ playerEntry.PlayerID }}</td>
                <td class="border-2 border-black">{{ playerEntry.Clicks }}</td>
              </ng-container>
            </ng-container>




            <ng-container *ngIf="item.Hotspots && item.Hotspots.length > 0">
              <ng-container *ngFor="let hotspot of item.Hotspots">
                <td class="border-2 border-black">{{ hotspot.Location }}</td>
                <td class="border-2 border-black">{{ hotspot.ImageURL }}</td>
                <td class="border-2 border-black">{{ hotspot.Clicks }}</td>
                <td class="border-2 border-black">{{ hotspot.Tooltip }}</td>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!(item.Hotspots && item.Hotspots.length > 0)">
              <!-- Display "DNE" in the columns when Hotspots are not available -->
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
            </ng-container>

            <ng-container *ngIf="item.Advertisements && item.Advertisements.length > 0">
              <ng-container *ngFor="let advertisement of item.Advertisements">
                <td class="border-2 border-black">{{ advertisement.StartLocation }}</td>
                <td class="border-2 border-black">{{ advertisement.EndLocation }}</td>
                <td class="border-2 border-black">{{ advertisement.Type }}</td>
                <td class="border-2 border-black">{{ advertisement.TotalSkips }}</td>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!(item.Advertisements && item.Advertisements.length > 0)">
              <!-- Display "DNE" in the columns when Hotspots are not available -->
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
            </ng-container>

            <ng-container *ngIf="item.Overlays && item.Overlays.length > 0">
              <ng-container *ngFor="let overlay of item.Overlays">
                <td class="border-2 border-black">{{ overlay.Location }}</td>
                <td class="border-2 border-black">{{ overlay.Type }}</td>
                <td class="border-2 border-black">{{ overlay.Title }}</td>

                <!-- Iterate over ChoiceList property inside Survey -->
                <ng-container *ngIf="overlay.ChoiceList && overlay.ChoiceList.length > 0; else noChoiceList">
                  <ng-container *ngFor="let choice of overlay.ChoiceList">
                    <td>{{ choice.Title}}</td>
                    <td>{{ choice.TotalResponses }}</td>
                  </ng-container>
                </ng-container>
                <ng-template #noChoiceList>
                  <!-- Display "DNE" in the columns when ChoiceList is not available -->
                  <td>DNE</td>
                  <td>DNE</td>
                </ng-template>


                <td class="border-2 border-black">{{ overlay.PauseVideo }}</td>
                <td class="border-2 border-black">{{ overlay.DisplayTimeout }}</td>
                <td class="border-2 border-black">{{ overlay.Optional }}</td>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!(item.Advertisements && item.Advertisements.length > 0)">
              <!-- Display "DNE" in the columns when Hotspots are not available -->
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
              <td>DNE</td>
            </ng-container>


            <!-- Include cells for other fields from the Content class as needed -->
            <!-- Include cells for Celeb, Survey, PlayerEntry, Hotspot, Advertisement, Overlay properties as needed -->
          </tr>
        </tbody>
      </table>
    </div>

      <style>
              details summary::-webkit-details-marker {
              display: none;
          }


          details[open] summary {
              background: rgb(57, 57, 57);
              color: white
          }

          details[open] summary::after {
              content: "-";
          }

          details[open] summary ~ * {
              animation: slideDown 0.3s ease-in-out;
          }

          details[open] summary p {
              opacity: 0;
              animation-name: showContent;
              animation-duration: 0.6s;
              animation-delay: 0.2s;
              animation-fill-mode: forwards;
              margin: 0;
          }

          @keyframes showContent {
              from {
              opacity: 0;
              height: 0;
              }
              to {
              opacity: 1;
              height: auto;
              }
          }
          @keyframes slideDown {
              from {
              opacity: 0;
              height: 0;
              padding: 0;
              }

              to {
              opacity: 1;
              height: auto;
              }
          }
      </style>


      <div class="py-4 mt-8 font-semibold text-right text-black">Create by <a href="https://hafidmaulana.vercel.app">LeadingEdge Company</a></div>
  </div>

</div>
