 <!-- <div class="flex flex-row w-full h-16 m-0 font-sans bg-pink-200 navigation">

<div class="w-1/2 h-full bg-blue-200" >

  <div class="left">




</div>

</div>




<div class="w-1/2 h-full bg-green-300" >




</div>
</div> -->

<!-- code -->

<div class="p1">
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>

<!-- <app-footer></app-footer> -->
 <!-- <div class="cart">

 <app-navbar></app-navbar>

<app-slider></app-slider>

<app-categories></app-categories>

</div>  -->







<!--
 <div class="relative cart">


  <div class="relative z-10">
    <app-navbar></app-navbar>
    <app-slider></app-slider>
    <app-categories></app-categories>
  </div>
</div> -->
