<div
  class="w-full h-[880px] cus:mt-[-220px] lg:mt-[130px] md2:mt-[60px] md:mt-[35px] cust2:mt-[-120px] cust:mt-[-190px] cust1:mt-[-100px] cust3:mt-[-145px] sm:mt-[-155px] tab:mt-[-155px]">


  <div class="w-full h-14 bg-[#00031c]">

    <p class="pt-4 font-bold text-white text-h_1 lg:ml-0 md2:pl-5 md:pl-5 sm:pl-5 tab:pl-5 cust:pl-5 gapp:pl-5 cus:pl-5 bigg_mob2:pl-5 big_mob1:pl-2 small_mob1:pl-2">Trending Games</p>

  </div>

  <div class="w-full h-80 ">


    <!-- cards -->

    <div class="flex items-center justify-center w-full h-full px-4 py-1 sm:py-8 ">
      <div class="relative flex items-center justify-center w-full">
        <button aria-label="slide backward"
          class="absolute left-0 z-30 ml-8 cursor-pointer focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
          (click)="goPrev('slider')">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
          <div id="slider"
            class="flex items-center justify-start h-full transition duration-700 ease-out lg:gap-3 md2:gap-3 md:gap-2 sm:gap-2 tab:gap-[12px] cust:gap-2 gapp:gap-2 cus:gap-2 bigg_mob2:gap-2 big_mob1:gap-2 small_mob1:gap-2">


            <div class="bg-transparent card card-image-cover" *ngFor="let value of trending">
              <!-- <img src="https://source.unsplash.com/random/300x200" alt="" /> -->
              <a [routerLink]="['/trending', value.Id]">

                <video [src]="value.Weblink" class="object-cover object-center" autoplay></video>
              </a>
              <div class="space-y-4">
                <!-- <h2 class="text-white card-header">Maximizing Your Productivity at Work</h2>
                <p class="text-gray-100 ">Are you looking to increase your productivity at work?</p> -->
                <!-- Thubnail -->
                <div class="flex flex-col maida lg:ml-[-7px] bg-transparent w-[210px] h-[72px] ">
                  <div class="flex flew-row lg:gap-2 md2:gap-2 md:gap-2 cust1:gap-2 sm:gap-2 tab:gap-2 cust:gap-2 gapp:gap-2 cus:gap-2 bigg_mob2:gap-2 big_mob1:gap-2 small_mob1:gap-2">
                    <div class="w-8 ml-1 h-11">
                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />

                    </div>

                    <div class="w-8 h-11 ">

                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />

                    </div>
                    <div class="w-8 h-11 ">

                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />
<!-- <p>{{value.id}}</p> -->
                    </div>

                    <div class="w-8 h-11 ">

                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />

                    </div>
                  </div>
                  <h2 class="ml-2 space-x-2 text-sm font-bold text-white lg:pt-3 lg:tracking-wide md2:pt-2 md:pt-3 cust1:pt-3 sm:pt-3 tab:pt-3 cust:pt-3 gapp:pt-3 cus:pt-3 bigg_mob2:pt-3 big_mob1:pt-3 small_mob1:pt-3">{{value.Name}}</h2>

                </div>
              </div>
            </div>







          </div>
        </div>
        <button aria-label="slide forward"
          class="absolute right-0 z-30 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
          (click)="goNext('slider')">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>






  </div>



  <div class="w-full bg-[#00031c]  h-14">

    <p class="pt-4 font-bold text-white text-h_1 lg:ml-0 md2:pl-5 md:pl-5 sm:pl-5 tab:pl-5 cust:pl-5 gapp:pl-5 cus:pl-5 bigg_mob2:pl-5 big_mob1:pl-2 small_mob1:pl-2">Recommended Games</p>

  </div>

  <div class="w-full h-80">

    <!-- cards -->

    <div class="flex items-center justify-center w-full h-full px-4 py-24 sm:py-8">
      <div class="relative flex items-center justify-center w-full">
        <button aria-label="slide backward"
          class="absolute left-0 z-30 ml-8 cursor-pointer focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
          (click)="goPrev('slider1')">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L1 7L7 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
        <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
          <div id="slider1"
          class="flex items-center justify-start h-full transition duration-700 ease-out lg:gap-3 md2:gap-3 md:gap-2 sm:gap-2 tab:gap-[12px] cust:gap-2 gapp:gap-2 cus:gap-2 bigg_mob2:gap-2 big_mob1:gap-2 small_mob1:gap-2">

            <div class="bg-transparent card card-image-cover" *ngFor="let car of recommended">
              <!-- <img src="https://source.unsplash.com/random/300x200" alt="" /> -->
              <a [routerLink]="['/recommended', car.Id]">

                <video [src]="car.Weblink" class="object-cover object-center" autoplay></video>
              </a>
              <div class="space-y-4">
                <!-- <h2 class="text-white card-header">Maximizing Your Productivity at Work</h2>
              <p class="text-gray-100 ">Are you looking to increase your productivity at work?</p> -->
                <!-- Thubnail -->
                <div class="flex flex-col maida lg:ml-[-7px] bg-transparent w-[210px] h-[72px] ">
                  <div class="flex flew-row lg:gap-2 md2:gap-2 md:gap-2 cust1:gap-2 sm:gap-2 tab:gap-2 cust:gap-2 gapp:gap-2 cus:gap-2 bigg_mob2:gap-2 big_mob1:gap-2 small_mob1:gap-2">
                    <div class="w-8 ml-1 h-11">
                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />

                    </div>

                    <div class="w-8 h-11 ">

                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />

                    </div>
                    <div class="w-8 h-11 ">

                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />
                      <!-- <p>{{car.id}}</p>  -->
                    </div>

                    <div class="w-8 h-11 ">

                      <img src="https://img.a.transfermarkt.technology/portrait/big/342229-1682683695.jpg?lm=1" class="w-full h-full" />
                       <!-- <p>{{car.id}}</p>  -->
                    </div>
                  </div>
                  <!-- <p>{{car.id}}</p> -->
                  <h2 class="space-x-2 text-sm font-bold text-white lg:pt-3 lg:tracking-wide md2:pt-2 md:pt-3 cust1:pt-3 sm:pt-3 tab:pt-3 cust:pt-3 gapp:pt-3 cus:pt-3 bigg_mob2:pt-3 big_mob1:pt-3 small_mob1:pt-3">{{car.Title}}</h2>
                </div>
              </div>
            </div>

          </div>
        </div>
        <button aria-label="slide forward"
          class="absolute right-0 z-30 mr-8 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
          (click)="goNext('slider1')">
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7 7L1 13" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
    </div>































  </div>




</div>

<!-- <div class="flex gap-4 pb-20">
  <div class="bg-transparent card card-image-cover" *ngFor="let movie of movies">

    <a [routerLink]="['/video-player', movie.id]">

    <video [src]="movie.trailerUrl"  class="object-cover object-center" autoplay></video>
    </a>
    <div class="space-y-4">
      <h2 class="text-white card-header">Maximizing Your Productivity at Work</h2>
      <p class="text-gray-100 ">Are you looking to increase your productivity at work?</p>
    </div>
  </div>
  </div> -->
