<div class="relative inline-block group">
    <button
      class="flex items-center py-1 rounded-sm outline-none px-7 focus:outline-none min-w-32"
    >
      <span class="flex-1 pr-1 font-semibold">Blog</span>
      <span>
        <svg
          class="w-4 h-4 transition duration-150 ease-in-out transform fill-current group-hover:-rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
        >
          <path
            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
          />
        </svg>
      </span>
    </button>
    <ul
      class="backdrop-blur-md left-10 mt-1 w-56 text-left m-0 border-2 rounded-lg border-[#7b61ff] bg-clip-padding  text-base shadow-lg dark:bg-neutral-700  min-w-max  absolute z-[1000] transition duration-150 ease-in-out origin-top transform scale-0 bg-[#00031ccc]  group-hover:scale-100 min-w-32"
    >
    <li>
        <a
          class="block w-full px-4 py-4  text-sm font-normal bg-transparent whitespace-nowrap text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 border-b border-dotted border-[#292c41] hover:text-[#7b61ff]  text-[#7b61ff]"
          href="#"
          data-te-dropdown-item-ref
          ><p class="text-white hover:text-[#7b61ff] duration-300 hover:ml-3 hover:">Blog list</p></a
        >
      </li>
 
      <li>
        <a
          class="block w-full px-4 py-4  text-sm font-normal bg-transparent whitespace-nowrap text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 border-b border-dotted border-[#292c41] hover:text-[#7b61ff]  text-[#7b61ff]"
          href="#"
          data-te-dropdown-item-ref
          ><p class="duration-300 hover:ml-3 text-white hover:text-[#7b61ff]">Blog Grid 4 Columns</p></a
        >
      </li>
      <li>
        <a
          class="block w-full px-4 py-4  text-sm font-normal bg-transparent whitespace-nowrap text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 border-b border-dotted border-[#292c41] hover:text-[#7b61ff]  text-[#7b61ff]"
          href="#"
          data-te-dropdown-item-ref
          ><p class="duration-300 hover:ml-3 text-white hover:text-[#7b61ff]">Blog Grid 3 Columns</p></a>
      </li>
    
      <li class="relative px-4 py-4 rounded-sm hover:bg-[#0f101acc] bg-transparent">
        <button
          class="flex items-center w-full text-left outline-none focus:outline-none"
        >
          <span class="flex-1 pr-1 text-white hover:text-[#7b61ff] text-sm font-normal duration-300 hover:ml-3">Single Blog</span>
          <span class="mr-auto">
            <svg
              class="w-4 h-4 transition duration-150 ease-in-out fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </span>
        </button>
        <ul
          class="backdrop-blur-md absolute top-0 mt-0 ml-16 w-56 right-0 transition border-[#7b61ff] duration-150 ease-in-out origin-top-left bg-[#0f101acc] hover:bg-transparent border-2 rounded-md min-w-32 "
        >
          <!-- <li class="relative px-3 py-1 rounded-sm hover:bg-gray-100">
            <button
              class="flex items-center w-full text-left outline-none focus:outline-none">
              <span class="flex-1 pr-1">Python</span>
              <span class="mr-auto">
                <svg
                  class="w-4 h-4 transition duration-150 ease-in-out fill-current"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                  />
                </svg>
              </span>
            </button>
            <ul
              class="absolute top-0 right-0 transition duration-150 ease-in-out origin-top-left bg-white border rounded-sm min-w-32 "
            >
              <li class="px-3 py-1 hover:bg-gray-100">2.7</li>
              <li class="px-3 py-1 hover:bg-gray-100">3+</li>
            </ul>
          </li> -->

          <li>
            <a
              class="block w-full px-4 py-4 bg-[#0f101acc]  text-sm font-normal  whitespace-nowrap text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 border-b border-dotted border-[#292c41] hover:text-[#7b61ff]  text-[#7b61ff]"
              href="#"
              data-te-dropdown-item-ref
              ><p class="duration-300 hover:ml-3 text-white hover:text-[#7b61ff]">Single Blog Sidebad</p></a>
          </li>
          
          <li>
            <a
              class="block w-full px-4 py-4  text-sm font-normal bg-[#0f101acc] whitespace-nowrap text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 border-b border-dotted border-[#292c41] hover:text-[#7b61ff]  text-[#7b61ff]"
              href="#"
              data-te-dropdown-item-ref
              ><p class="duration-300 hover:ml-3 text-white hover:text-[#7b61ff]">Single Blog Full</p></a>
          </li>
        </ul>
      </li>
      
    </ul>
  </div>
  

