.cart{
  /* background-image: url("https://images.unsplash.com/photo-1638184984605-af1f05249a56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80") ;
  background-size: cover;
  background-repeat: no-repeat; */
 background-color: #00031c;

}
.p1{
  background-color: #00031c;
}
