

<section class="my_slider_main w-full mt-2 h-[520px] ">


	<!-- Courousel Buttons -->
	<div id="carouselExampleCaptions" class="relative h-[625px]" data-te-carousel-init data-te-ride="carousel">
	
		

		<!--Carousel items-->
		<div
			class="relative w-full h-[620px] overflow-hidden after:clear-both after:block after:content-['']  ">
			<!--First item-->
			<div class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-active data-te-carousel-item style="backface-visibility: hidden">
				<video src="assets/videos/foot.mp4" autoplay class="w-full h-full" alt="...">
				</video>
				<div
					class="absolute text-white cus:top-[-55px]  mt-20 lg:top-[20px] lg:ml-[70px] -- md2:mb-[270px] md2:px-5 md2:text-[14px] -- md:mb-[180px] md:px-5 md:text-[14px] -- sm:mb-[100px] sm:px-5 sm:text-[12px] -- tab:mb-[60px] tab:px-5 tab:text-[12px] -- ipad:mb-[30px] ipad:px-5 ipad:text-[12px] bottom-5">
					<p class="font-bold text-purple-600 text-[14px] lg:mt-12 uppercase ipad:text-[12px]">Action <span
							class="font-bold text-white uppercase ipad:text-[10px]">,</span> Thiller</p>
					<h2
						class="lg:text-xxl lg:mt-1 -- md2:ml-[2px] md2:text-[20px] md2:mt-2 -- md:ml-[2px] md:text-[20px] md:mt-2 -- sm:ml-[2px] sm:text-[14px] sm:mt-2 -- tab:ml-[2px] tab:text-[12px] -- ipad:ml-[2px] ipad:text-[12px] tab:mt-2 font-bold tracking-wide hover:text-purple-700 cursor-pointer ease-in-out duration-500">
						First slide label</h2>
					<div class="starrs lg:mt-5 md2:mt-2 md:mt-2 sm:mt-2 tab:mt-2 ipad:mt-1">
						<img src="/assets/images/star.png" class="w-5 h-5 ipad:w-3 ipad:-3 ipad:mt-[-3px]">
						<p
							class="pa lg:ml-[50px] lg:mt-[-25px] -- md2:ml-[38px] md2:mt-[-20px] -- md:ml-[38px] md:mt-[-20px] -- sm:ml-[38px] sm:mt-[-20px] -- tab:ml-[38px] tab:mt-[-20px] -- ipad:ml-[38px] ipad:mt-[-20px]">
							<span
								class=" pa lg:text-th -- md2:text-[16px] -- md:text-[16px] -- sm:text-[14px] -- tab:text-[12px] -- ipad:text-[12px]">8.2</span>
							<span
								class="gap lg:ml-[18px] --  md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">.</span>
							<span
								class="pb lg:text-th lg:ml-[20px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">2023</span>
							<span
								class="gap lg:ml-[18px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">.</span>
							<span
								class="pc lg:text-th lg:ml-[18px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">1
								hr 25 mins</span>
							<span
								class="font-bold pd lg:text-th lg:ml-[24px] p-1 -- md2:ml-[12px] -- md:ml-[12px] -- sm:ml-[12px] -- tab:ml-[12px] -- ipad:ml-[12px] bg-black/30 px-2 rounded-lg">TV-MA</span>
						</p>
					</div>
					<p class="lg:mt-8 -- md2:mt-2 md:mt-2 sm:mt-2 tab:mt-0"><span
							class="tracking-wider text-gray-300 text-th md2:text-[14px] -- md:text-[14px] -- sm:text-[12px] -- tab:text-[10px] -- ipad:text-[8px]">Enjoy
							exclusive Amazon
							Originals as well as popular movies and TV shows for USD</span> <br /><span
							class="tracking-wider text-gray-300 text-th mt-[-4px] md2:text-[14px] md2:mt-[-4px] -- md:text-[14px] md:mt-[-4px] -- sm:text-[12px] sm:mt-[-4px] -- tab:text-[10px] tab:mt-[-2px] -- ipad:text-[8px] ipad:mt-[1px]">
							120z/month. Watch
							now, cancel anytime.</span>
					</p>
		

					<button
						class="px-4 py-3 mt-5 lg:ml-[1px] bg-gradient-to-tl from-[#8454d1] via-[#6c52ee]  to-[#619bff] rounded-xl font-sans text-md tracking-wider text-center font-extrabold   text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/50  focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ">
						Play Now<img src="/assets/images/play-button.svg" class="w-6 h-6 ml-28 mt-[-24px]">
					</button>


					<button
						class="px-1 py-3 lg:ml-[35px] rounded-xl font-sans text-md tracking-wider text-center font-extrabold hover:text-purple-700  text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/50  focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ">
						Watch Now <svg xmlns="http://www.w3.org/2000/svg"
							class="w-5 h-6 mt-[-24px] ml-32 hover:fill-purple-700" viewBox="0 0 384 512">
							<style>
								svg {
									fill: #ffffff
								}
							</style>
							<path
								d="M0 48C0 21.5 21.5 0 48 0l0 48V441.4l130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4V48H48V0H336c26.5 0 48 21.5 48 48V488c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488V48z" />
						</svg>
					</button>


				</div>
			</div>
			<!--Second item-->
			<div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item style="backface-visibility: hidden">
				<video src="../assets/videos/mbappe.mp4" autoplay class="w-full h-full " alt="...">
				</video>
				<div
					class="absolute text-white   cus:top-[-38px]  mt-20 lg:top-[20px] lg:ml-[70px] -- md2:mb-[270px] md2:px-5 md2:text-[14px] -- md:mb-[180px] md:px-5 md:text-[14px] -- sm:mb-[100px] sm:px-5 sm:text-[12px] -- tab:mb-[60px] tab:px-5 tab:text-[12px] -- ipad:mb-[30px] ipad:px-5 ipad:text-[12px] bottom-5">
					<p class="font-bold text-purple-600 text-[14px] lg:mt-12 uppercase ipad:text-[12px]">Action <span
							class="font-bold text-white uppercase ipad:text-[10px]">,</span> Thiller</p>
					<h2
						class="lg:text-xxl lg:mt-1 -- md2:ml-[2px] md2:text-[20px] md2:mt-2 -- md:ml-[2px] md:text-[20px] md:mt-2 -- sm:ml-[2px] sm:text-[14px] sm:mt-2 -- tab:ml-[2px] tab:text-[12px] -- ipad:ml-[2px] ipad:text-[12px] tab:mt-2 font-bold tracking-wide hover:text-purple-700 cursor-pointer ease-in-out duration-500">
						Second slide label</h2>
					<div class="starrs lg:mt-5 md2:mt-2 md:mt-2 sm:mt-2 tab:mt-2 ipad:mt-1">
						<img src="/assets/images/star.png" class="w-5 h-5 ipad:w-3 ipad:-3 ipad:mt-[-3px]">
						<p
							class="pa lg:ml-[50px] lg:mt-[-25px] -- md2:ml-[38px] md2:mt-[-20px] -- md:ml-[38px] md:mt-[-20px] -- sm:ml-[38px] sm:mt-[-20px] -- tab:ml-[38px] tab:mt-[-20px] -- ipad:ml-[38px] ipad:mt-[-20px]">
							<span
								class=" pa lg:text-th -- md2:text-[16px] -- md:text-[16px] -- sm:text-[14px] -- tab:text-[12px] -- ipad:text-[12px]">8.2</span>
							<span
								class="gap lg:ml-[18px] --  md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">.</span>
							<span
								class="pb lg:text-th lg:ml-[20px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">2023</span>
							<span
								class="gap lg:ml-[18px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">.</span>
							<span
								class="pc lg:text-th lg:ml-[18px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">1
								hr 25 mins</span>
							<span
								class="font-bold pd lg:text-th lg:ml-[24px] p-1 -- md2:ml-[12px] -- md:ml-[12px] -- sm:ml-[12px] -- tab:ml-[12px] -- ipad:ml-[12px] bg-black/30 px-2 rounded-lg">TV-MA</span>
						</p>
					</div>
					<p class="lg:mt-8 -- md2:mt-2 md:mt-2 sm:mt-2 tab:mt-0"><span
							class="tracking-wider text-gray-300 text-th md2:text-[14px] -- md:text-[14px] -- sm:text-[12px] -- tab:text-[10px] -- ipad:text-[8px]">Enjoy
							exclusive Amazon
							Originals as well as popular movies and TV shows for USD</span> <br /><span
							class="tracking-wider text-gray-300 text-th mt-[-4px] md2:text-[14px] md2:mt-[-4px] -- md:text-[14px] md:mt-[-4px] -- sm:text-[12px] sm:mt-[-4px] -- tab:text-[10px] tab:mt-[-2px] -- ipad:text-[8px] ipad:mt-[1px]">
							120z/month. Watch
							now, cancel anytime.</span>
					</p>
		

					<button
						class="px-4 py-3 mt-5 lg:ml-[1px] bg-gradient-to-tl from-[#8454d1] via-[#6c52ee]  to-[#619bff] rounded-xl font-sans text-md tracking-wider text-center font-extrabold   text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/50  focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ">
						Play Now<img src="/assets/images/play-button.svg" class="w-6 h-6 ml-28 mt-[-24px]">
					</button>


					<button
						class="px-1 py-3 lg:ml-[35px] rounded-xl font-sans text-md tracking-wider text-center font-extrabold hover:text-purple-700  text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/50  focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ">
						Watch Now <svg xmlns="http://www.w3.org/2000/svg"
							class="w-5 h-6 mt-[-24px] ml-32 hover:fill-purple-700" viewBox="0 0 384 512">
							<style>
								svg {
									fill: #ffffff
								}
							</style>
							<path
								d="M0 48C0 21.5 21.5 0 48 0l0 48V441.4l130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4V48H48V0H336c26.5 0 48 21.5 48 48V488c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488V48z" />
						</svg>
					</button>


				</div>
			</div>
			<!--Third item-->
			<div class="relative float-left -mr-[100%] hidden w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
				data-te-carousel-item style="backface-visibility: hidden">
				<video src="../assets/videos/messi 2.mp4" autoplay class="w-full h-full " alt="...">
				</video>
				<div
					class="absolute text-white   cus:top-[-38px]  mt-20 lg:top-[20px] lg:ml-[70px] -- md2:mb-[270px] md2:px-5 md2:text-[14px] -- md:mb-[180px] md:px-5 md:text-[14px] -- sm:mb-[100px] sm:px-5 sm:text-[12px] -- tab:mb-[60px] tab:px-5 tab:text-[12px] -- ipad:mb-[30px] ipad:px-5 ipad:text-[12px] bottom-5">
					<p class="font-bold text-purple-600 text-[14px] lg:mt-12 uppercase ipad:text-[12px]">Action <span
							class="font-bold text-white uppercase ipad:text-[10px]">,</span> Thiller</p>
					<h2
						class="lg:text-xxl lg:mt-1 -- md2:ml-[2px] md2:text-[20px] md2:mt-2 -- md:ml-[2px] md:text-[20px] md:mt-2 -- sm:ml-[2px] sm:text-[14px] sm:mt-2 -- tab:ml-[2px] tab:text-[12px] -- ipad:ml-[2px] ipad:text-[12px] tab:mt-2 font-bold tracking-wide hover:text-purple-700 cursor-pointer ease-in-out duration-500">
						Third slide label</h2>
					<div class="starrs lg:mt-5 md2:mt-2 md:mt-2 sm:mt-2 tab:mt-2 ipad:mt-1">
						<img src="/assets/images/star.png" class="w-5 h-5 ipad:w-3 ipad:-3 ipad:mt-[-3px]">
						<p
							class="pa lg:ml-[50px] lg:mt-[-25px] -- md2:ml-[38px] md2:mt-[-20px] -- md:ml-[38px] md:mt-[-20px] -- sm:ml-[38px] sm:mt-[-20px] -- tab:ml-[38px] tab:mt-[-20px] -- ipad:ml-[38px] ipad:mt-[-20px]">
							<span
								class=" pa lg:text-th -- md2:text-[16px] -- md:text-[16px] -- sm:text-[14px] -- tab:text-[12px] -- ipad:text-[12px]">8.2</span>
							<span
								class="gap lg:ml-[18px] --  md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">.</span>
							<span
								class="pb lg:text-th lg:ml-[20px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">2023</span>
							<span
								class="gap lg:ml-[18px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">.</span>
							<span
								class="pc lg:text-th lg:ml-[18px] -- md2:ml-[12px] md2:text-[16px] -- md:ml-[12px] md:text-[16px] -- sm:ml-[12px] sm:text-[14px] -- tab:ml-[12px] tab:text-[12px] -- ipad:ml-[12px] ipad:text-[12px]">1
								hr 25 mins</span>
							<span
								class="font-bold pd lg:text-th lg:ml-[24px] p-1 -- md2:ml-[12px] -- md:ml-[12px] -- sm:ml-[12px] -- tab:ml-[12px] -- ipad:ml-[12px] bg-black/30 px-2 rounded-lg">TV-MA</span>
						</p>
					</div>
					<p class="lg:mt-8 -- md2:mt-2 md:mt-2 sm:mt-2 tab:mt-0"><span
							class="tracking-wider text-gray-300 text-th md2:text-[14px] -- md:text-[14px] -- sm:text-[12px] -- tab:text-[10px] -- ipad:text-[8px]">Enjoy
							exclusive Amazon
							Originals as well as popular movies and TV shows for USD</span> <br /><span
							class="tracking-wider text-gray-300 text-th mt-[-4px] md2:text-[14px] md2:mt-[-4px] -- md:text-[14px] md:mt-[-4px] -- sm:text-[12px] sm:mt-[-4px] -- tab:text-[10px] tab:mt-[-2px] -- ipad:text-[8px] ipad:mt-[1px]">
							120z/month. Watch
							now, cancel anytime.</span>
					</p>
		

					<button
						class="px-4 py-3 mt-5 lg:ml-[1px] bg-gradient-to-tl from-[#8454d1] via-[#6c52ee]  to-[#619bff] rounded-xl font-sans text-md tracking-wider text-center font-extrabold   text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/50  focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ">
						Play Now<img src="/assets/images/play-button.svg" class="w-6 h-6 ml-28 mt-[-24px]">
					</button>


					<button
						class="px-1 py-3 lg:ml-[35px] rounded-xl font-sans text-md tracking-wider text-center font-extrabold hover:text-purple-700  text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/50  focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ">
						Watch Now <svg xmlns="http://www.w3.org/2000/svg"
							class="w-5 h-6 mt-[-24px] ml-32 hover:fill-purple-700" viewBox="0 0 384 512">
							<style>
								svg {
									fill: #ffffff
								}
							</style>
							<path
								d="M0 48C0 21.5 21.5 0 48 0l0 48V441.4l130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4V48H48V0H336c26.5 0 48 21.5 48 48V488c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488V48z" />
						</svg>
					</button>


				</div>
			</div>
		</div>

		<!--Carousel controls - prev item-->
		<button
			class="absolute bottom-0 left-0 top-0 z-[1] flex w-[3.5%] items-center justify-center border-0 bg-none p-0 text-center 7 cus:pb-[400px] ipad:pb-[450px] small_mob1:pb-[470px] opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none "
			type="button" data-te-target="#carouselExampleCaptions" data-te-slide="prev">
			<span class="inline-block w-8 h-8">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor"
					class="w-8 h-20 rounded-lg lg:ml-[-1px]  lg:mt-[200px] hover:bg-purple-700 hover:opacity-100 cursor-pointer ease-in-out duration-500 bg-black opacity-30  ">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
				</svg>
			</span>
			<span
				class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Previous</span>
		</button>
		<!--Carousel controls - next item-->
		<button
			class="absolute cus:pb-[400px] ipad:pb-[450px] small_mob1:pb-[470px] bottom-0 right-0 top-0 z-[1] flex w-[3.5%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
			type="button" data-te-target="#carouselExampleCaptions" data-te-slide="next">
			<span class="inline-block w-8 h-8">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
					stroke="currentColor"
					class="w-8 h-20 rounded-lg lg:ml-[-1px]  lg:mt-[200px]  hover:bg-purple-700 hover:opacity-100 cursor-pointer ease-in-out duration-500 bg-black opacity-30">
					<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
				</svg>
			</span>
			<span
				class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">Next</span>
		</button>
	</div>











</section>